body {
    min-height: 100%;
    background-color: rgb(211, 209, 209);  
}

.header {
    gap: 30px;
    padding-top: 10px;
}

.background {
    background-color: rgb(211, 209, 209);  
    padding-bottom: 30px;
}